<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="hero">
    <div class="navbar">      
      
      <div class="github">
              <h1 class="git"><strong><em class="it">Git</em></strong><strong><em class="hub">hub</em></strong></h1>
</div>
    </div>
    <div class="side-bar"> <img src="../assets/images/menu.png " class="menu" >
      <div class="social-links">
        <img src="../assets/images/fb.png" alt="">
        <img src="../assets/images/ig.png" alt="">
        <img src="../assets/images/tw.png" alt="">
      </div>
      <div class="useful-links">
        <img src="../assets/images/share.png" alt="">
        <img src="../assets/images/info.png" alt="">
      </div>

  </div>
  <div class="bubbles">
    <img src="../assets/images/bubble.png" alt="">
    <img src="../assets/images/bubble.png" alt="">
    <img src="../assets/images/bubble.png" alt="">
    <img src="../assets/images/bubble.png" alt="">
    <img src="../assets/images/bubble.png" alt="">
    <img src="../assets/images/bubble.png" alt="">
    <img src="../assets/images/bubble.png" alt="">
  </div>
   
  </div>
  
</body>
</html>